body {
	background-image: url(../pogotest.gif);
	background-size: cover;
	/*background-color: green;*/
	font-family: 'Poppins', sans-serif;}

h1 {
/*	padding: 20px;*/
	text-align: right;
	margin-right: 3%;
	font-style: semi-bold;
	/*text-decoration: underline;*/}
/*hr {
	border: none;
	background-color: #29595B;
	height: 3px;
	width: 92%;
	margin-right: 3%;}*/

h3{
	text-transform: uppercase;
	text-align: right;
	margin: 15px;
}
ul{
	list-style-type: none;
	color: black;
	text-align: right;
	margin: 15px;
}
article{position: relative;
	margin-top: 12%;
	letter-spacing: 2px;
	line-height: 1.5em;
	padding: 15px;
	background: rgba(255,255,255,.7);
	width: 35%;
	margin-left: 5%;}	

a {
    color: #17332D;
    text-decoration: none;
}
.header {
	color:	#29595B;
	}

nav {position: absolute;
	bottom: 10%;
	right: 3%;
	width: 18%;
	background: rgba(255,255,255,.65);}

#headerbox {position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background: rgba(255,255,255,.6);}


	footer {position: absolute;
		width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2px;
  text-align: center;}

